<div id="about">
    <div class="row">
        <div class="col-xs-12">
            <h3>About Me <a href class="close-section pull-right" ng-click="go('')"><i class="fa fa-times"></i> Close</a></h3>
            <p class="lead">Nice to meet you!</p>
            <p>I'm Aaron. I'm a 26 year old web and mobile developer, currently based out of Southwest Virginia. I have a BBA from Georgia Southern University in Information Systems with an emphasis in Enterprise Resource Planning. I've been making web pages since I was 10 years old and have a real passion teaching others about technology, helping people utilize technology to enhance their lives, and for making beautiful products.</p>
            <p>I enjoy spending time with my family, playing the guitar and reading in my spare time. Aside from coding, I also enjoy studying leadership.</p>
            <p>These are the blogs/sites I enjoy reading for inspiration and learning:
                <ul>
                    <li><a href="//www.smashingmagazine.com/">Smashing Magazine</a></li>
                    <li><a href="//css-tricks.com/">CSS Tricks</a></li>
                    <li><a href="//gizmodo.com/">Gizmodo</a></li>
                    <li><a href="//lifehacker.com/">Lifehacker</a></li>
                    <li><a href="//reddit.com">Reddit</a>
                        <ul>
                            <li><a href="//reddit.com/r/iosprogramming">iosprogramming</a></li>
                            <li><a href="//reddit.com/r/ios">ios</a></li>
                            <li><a href="//reddit.com/r/objectivec">objectivec</a></li>
                            <li><a href="//reddit.com/r/swift">swift</a></li>
                            <li><a href="//reddit.com/r/webdev">webdev</a></li>
                            <li><a href="//reddit.com/r/iosdev">iosdev</a></li>
                            <li><a href="//reddit.com/r/jquery">jquery</a></li>
                            <li><a href="//reddit.com/r/node">node</a></li>
                            <li><a href="//reddit.com/r/nodejs">nodejs</a></li>
                            <li><a href="//reddit.com/r/coffeescript">coffeescript</a></li>
                            <li><a href="//reddit.com/r/androiddev">androiddev</a></li>
                            <li><a href="//reddit.com/r/javascript">javascript</a></li>
                            <li><a href="//reddit.com/r/frontend">frontend</a></li>
                            <li><a href="//reddit.com/r/css3">css3</a></li>
                            <li><a href="//reddit.com/r/angularjs">angularjs</a></li>
                        </ul>
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>
