<div id="portfolio-details" ng-controller="DetailsCtrl">
    <div class="row">
        <div class="col-xs-12">
            <h3><span ng-bind-html="project.title"></span> <a href="#portfolio" class="close-section pull-right"><i class="fa fa-arrow-left"></i> Back</a></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <img ng-src="{{project.src}}" alt="{{project.title}}" title="{{project.description}}" class="img-thumbnail img-responsive center-block" />
        </div>
        <div class="col-xs-12 col-sm-6">
            <p class="lead" ng-bind-html="project.description"></p>
			<span ng-repeat="tag in project.tags" class="label label-primary">{{tag}}</span>
        </div>
    </div>
</div>