<div id="resume">
    <div class="row">
        <div class="col-xs-12">
            <h3>Work <a href="#" class="close-section pull-right" ng-click="go('')"><i class="fa fa-times"></i> Close</a></h3>
            <p class="lead">Success is when preparation meets opportunity.</p>
            <p>Please email me if you are interested in my skillset. I'm available for independent contracting as well as the right full time opportunity.</p>
            <p>Email Address: aaron dot rosenbaum at gmail dot com</p>
            <p><small><em>A direct link to email me is not provided in order to prevent auto-emails from bots.</em></small></p>
        </div>
    </div>
</div>